@model eCommerce.Models.ProjectModule

@{
    ViewBag.Title = "ProjectDetails";
    Layout = "~/Views/admin-layout/_admin-layout.cshtml";
}
@section admin_personal_section{
<h2>Project Details</h2>
@if(Model != null) { 
<div>
  
    <hr />
    <dl>

        <dt>
            @Html.DisplayNameFor(model => model.Project.ProjectTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Project.ProjectTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NoOfHoursPerDay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoOfHoursPerDay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employee.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.FirstName)
        </dd>

      >

        <dt>
            @Html.DisplayNameFor(model => model.Project.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Project.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProjectStatus.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjectStatus.Status)
        </dd>

    </dl>
</div>
}else {@Html.Action("emptyMessage","home") }
    }