@model IEnumerable<eCommerce.Models.Employee>

@{
    ViewBag.Title = "LISTALLTRAINEES";
    Layout = "~/Views/admin-layout/_admin-layout.cshtml";
}
@section MTL_personal_section{
    <div class="custom-partial-layout">
    <h2>ALL Trainees</h2>

    @if (Model != null)
    {
        <table class="table">
            <tr>
                <th>
                    MT Name
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Experience)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.JobDescription)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Experience)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.JobDescription)
                    </td>
                    <td>
                        @using (Html.BeginForm("sendRequest", "Marketing_Team_Leader", new { tid = item.ID }, FormMethod.Post, new { onsubmit = "return confirm('Send Request To That Trainee?' );" }))
                        {
                            @Html.AntiForgeryToken()
                            <input type="submit" value="Send Request" class="btn btn-default" />
                        }


                    </td>
                </tr>

            }


        </table>

    }
    else
    {
        <div class="alert-danger"><h2>@ViewData["mess"]</h2></div>
        <div class="alert-warning"><h3>No One Has Registered Yet!!</h3></div>

    }
        </div>
}